# Glob-шаблоны: можно заканчивать шаблон символом слэша (/) для указания каталога, можно инвертировать шаблон, использовав восклицательный знак (!) в качестве первого символа.
# Glob-шаблоны: символ * соответствует 0 или более символам, последовательность [abc] — любому символу из указанных в скобках (в данном примере a, b или c).
# Glob-шаблоны: знак вопроса (?) соответствует одному символу, [0-9] соответствует любому символу из интервала (в данном случае от 0 до 9).

# IntelliJ project files
.idea/
*.iml
*.sh
haskell1/
*.jar